.learningCourseImage {
    width: 100% !important;
}
.learningCourseDetails {
    color: #484644;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
    min-height: 45px;
    padding: 0 1rem !important;
}
.learningCourseDescription {
    font-size: 14px;
    color: #484644;
    height: 140px;
    overflow: auto;
    padding: 0 1rem !important;
    margin-bottom: 10px;
}
.learningCourseHoursImage {
    margin-right: 5px;
    margin-top: -3px;
}
.leaningCourseDate {
    font-size: 12px;
}
.trainingType {
    margin-left: 5px;
    font-size: 12px;
}