.MyLeaveDetailsCard {
    border: 1px solid #ddd !important;
    background: #fff !important;
}
.MyLeaveDetailsCard .ui-card__body {
    margin-bottom: 45px;
}
.leaveDaysValue .leaveNumbers {
    font-size: 25px !important;
    color: green;
    line-height:1;
}
.leaveDaysValue .daysText {
    font-size: 16px !important;
    line-height: 1.6;
    margin-left: 5px;
}
.typeOfLeave{
    font-size:16px !important;
}

.taskCardHeader .ui-list__item__header {
    font-size: 18px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    line-height: 1;
}
.taskNameDetails {
    padding-left: 16px !important;
}
.taskCardBody {
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(237, 235, 233);
    padding: 0px 10px 10px;
}
.taskCardBody .detail-text {
    color: rgb(51, 51, 51) !important;
    font-size: 13px !important;
}
.taskCardBody .list-text {
    color: rgb(151, 149, 147) !important;
    font-size: 13px !important;
}
.card-footer {
    margin: 8px 15px 15px 0px;
}
.taskCard {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 7px 1px;
    border-radius: 4px;
    margin: 0px 15px 15px;
}
.editButton{
    margin-right: 15px;
}